.home {
  position: absolute;
  left: 13%;
  width: 83.6%;
  display: flex;
  flex-direction: column;
  /* background: #0b58a6
    url("https://b24-6s0vk7.bitrix24.com/bitrix/templates/bitrix24/themes/light/atmosphere/atmosphere2.jpg")
    fixed 0 0 no-repeat !important;
  background-size: cover; */
}

.middle-container-tab {
  width: 85%;
  margin: auto;
  border-radius: 10px;
  height: 60px;
  background-color: #fff;
}
.middle-container-tab > ul {
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.middle-container-tab > ul > li {
  padding: 1.2rem 2rem;
  height: 100%;
}
.tab-list {
  color: #545c6a;
  font-family: "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica,
    sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
}
.tab-list :hover {
  border-right: 1px solid grey;
  color: #1058d0;
}
.active-tab {
  border-right: 1px solid grey;
  color: #1058d0;
  border-bottom: 3px solid #1058d0;
}
.progress-bar {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.progress-bar > div:first-child {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  margin: 0 45px 0 0;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.progress-bar-title {
  display: flex;
  gap: 10px;
  padding: 0 5px 0 0;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  color: rgb(195, 183, 183);
  font-size: 1.6rem;
}
.progress-bar-title > p {
  font: 26px;
  font-weight: 100;
  margin: 0;
  padding: 21px 0 21px 0;
  display: block;
  word-wrap: break-word;
}
.star {
  background-size: 20px auto;
  margin-bottom: -3px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}
.new-task-btn {
  background-color: #b2e232;
  height: 39px;
  width: 120px;
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 15px;
  text-transform: uppercase;
  gap: 10px;
  /* flex: 1; */
}
.new-task-btn > p {
  color: #535c69;
  font-size: 0.8rem;
  font-weight: 600;
}
.new-task-search {
  width: 50%;
  display: flex;
  background-color: #fff;
  padding-right: 10px;
}

.new-task-search > input {
  height: 39px;
  background: transparent;
  width: 100%;
  padding-left: 1rem;
}
.new-task-search > svg {
  width: 20px;
  height: 20px;

  margin-top: 8px;
  color: #a9abad;
}

.new-task-icons {
  margin-left: 22%;
  display: flex;
  color: #fff;
}

.new-task-icons > div {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.6rem;
  margin: 0 0.5rem;
}
.new-task-icons > div > svg {
  width: 20px;
  height: 20px;
}
